<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pedientes}}</strong> Tareas pedientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <li *ngFor="let filtro of filtros">
            <a [class.selected] ="filtro === filtroActual" href="#/" (click)="cambiarFiltro(filtro);">
                {{filtro | titlecase}}
            </a>
        </li>
    </ul>
    
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="limpiarCompletados();"> Limpiar completados </button>
</footer>